.land-nav {
    box-shadow: 0px 0px 20px rgb(255, 255, 255,0.3);
    height: 80px;
    background: rgb(15, 15, 15);
}

.navbar-brand {
    font-weight: 800;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    color: white
}

.nav-link {
    font-size: 1.2em;
    color: white
}
.nav-link:hover , .navbar-brand:hover{
    color: rgba(255, 255, 255, 0.3)
}
.start {
    background: white;
    color: black;
    border-radius: 20px;
    padding: 2px;
    /* box-shadow: 0px 0px 5px 2px rgb(129, 129, 129); */
}
.start:hover{
    background: rgba(255, 255, 255, 0.2);
}