.card {
  margin: 20px;
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}
h1{
  color: white;
  padding: 20px 30px;
}

.feat .row {
  display: flex;
  justify-content: center;
}